/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: var(--Medium) var(--Large);
  margin: 0;
  font-size: 20px;
  cursor: pointer;
	color: var(--Purple);
  background-color: var(--Yellow);
  border: none;
	text-decoration: none;
  transition: all 0.25s linear;

  &:hover,
  &:focus {
		color: var(--Yellow);
    background-color: var(--Purple);
		text-decoration: none;
  }

	&.is-red {
		color: var(--White);
    background-color: var(--Red);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--DarkRed);
		}
	}
}
