/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	margin-top: 1.618em;
	margin-bottom: .75em;
	line-height: 1.2;
}
h1, .h1 {
	font-size: 50px;
	color: var(--Red);
}
h2, .h2 {
	font-size: 32px;
	color: var(--Red);
}
h3, .h3 {
	font-size: 24px;
	color: var(--Purple);
}
h4, .h4 {
	font-size: 22px;
	color: var(--Purple);
}
h5, .h5 {
	font-size: 18px;
	color: var(--Purple);
}
h6, .h6 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: var(--Purple);
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	color: var(--Purple);
	font-size: 18px;

	&.callout-number {
		font-family: 'Signika', sans-serif;
		color: var(--Yellow);
		font-size: 80px;
		margin: 0;
		line-height: 1.12;
	}
}

/*-----------------------------------*\
	LINKS
\*-----------------------------------*/
a {
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: var(--Red);
	transition: all 0.25s linear;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--Large) auto;
	height: 4px;
	width: 240px;
	background-color: var(--Red);
	border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 800px;
	padding: var(--Medium);
	color: var(--Purple);
	font-size: 22px;
	text-align: center;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}