/*-----------------------------------*\
  DONATION CALLOUT
\*-----------------------------------*/
section.donation-callout {
	margin-bottom: 8rem;

	& h2 {
		font-size: 26px;
		max-width: 720px;
		margin: 1.5rem auto;

		@media(--phone) {
			font-size: 40px;
		}
	}
}