/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: 3em;

	&.homepage-head {
		margin: 3em 0 0;
		width: 100%;

		@media(--tablet) {
			margin: 3em auto 0;
			width: 90%;
		}

		&>div {
			width: 90%;

			@media(--tablet) {
				width: 50%;
				padding-right: 2em;
			}

			@media(--laptop) {
				width: 40%;
			}
		}

		& .image-wrap {
			width: 100%;
			position: relative;
			display: grid;
			margin-top: 3em;

			@media(--tablet) {
				width: 50%;
				padding-right: 0;
				margin-top: 0;
			}

			@media(--laptop) {
				width: 60%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 1.5em;
				left: 1.5em;
				width: 100%;
				height: 100%;
				border: 7px solid var(--Yellow);
				z-index: -1;
			}

			& img {
				margin-top: 0;
			}
		}
	}

	&.event-head  {
		& p {
			margin: 0;
		}

		& h1 {
			font-size: 32px;
			line-height: 1.3;
		}

		& .event-info {
			width: 100%;
			background-color: var(--LightGrey);
			padding: 1em;
			margin-top: 1.5em;

			& h3 {
				margin: 0;
			}

			& p {
				margin: .5rem 0 0;
				font-size: 18px;
			}
		}
	}

	& h1 {
		margin: 0;
		width: 100%;
	}

	& p {
		font-size: 16px;
		width: 100%;

		&.date {
			margin: 0;
		}

		&.subtitle {
			font-size: 24px;
			line-height: 1.33;
		}
	}

	& img {
		width: 100%;
		margin-top: .5em;
	}
}