/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Red);
	position: relative;
	margin-top: 63px;

	&:before {
		content: '';
		position: absolute;
		top: -63px;
		width: 100%;
		height: 63px;
		background-size: 42px 42px;
		background-position: 0 0, 21px 21px;
		background-image: linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
		background-blend-mode: difference;
	}

	& > div {
		max-width: 1200px;
		width: 90vw;
		margin: 0 auto;
		padding: 2rem 0 1rem;
		display: flex;
		flex-wrap: wrap;

		& .menu-footer-navigation-container {
			width: 100%;
			text-align: center;

			@media(--tablet) {
				width: calc(100% - 126px);
				text-align: left;
			}

			& ul {
				list-style: none;
				padding-left: 0;
				display: inline-flex;
				flex-wrap: wrap;
				margin: 0;

				& li {
					margin: 0 2rem 0 0;

					&:last-of-type {
						margin-right: 0;
					}

					& a {
						color: var(--White);
						font-size: 16px;

						&:hover,
						&:focus {
							color: var(--Yellow);
						}
					}
				}
			}
		}

		& .social {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
			justify-content: center;
			align-items: center;
			margin-top: 2rem;

			@media(--tablet) {
				width: auto;
				justify-content: flex-end;
				margin-top: 0;
			}

			& a {
				display: inline-flex;
				margin-left: 1.5em;

				&:hover,
				&:focus {
					& svg {
						fill: var(--Yellow);
					}
				}

				&:first-of-type {
					margin-left: 0;
				}

				& svg {
					width: 24px;
					height: 24px;
					fill: var(--White);
					transition: all 0.25s linear;
				}
			}
		}

		& #element5-credit {
			order: 2;
			margin: 2rem auto;

			@media(--tablet) {
				margin: 2rem 0 0 auto;
			}

			& a {
				display: flex;
			}
		}

		& .copyright {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			order: 3;

			@media(--tablet) {
				max-width: 520px;
				order: 0;
			}

			& p {
				font-size: 14px;
				margin: 0;
				color: var(--White);
			}
		}
	}
}