/*-----------------------------------*\
	SPONSORS
\*-----------------------------------*/
section.sponsors {
	margin: 5rem auto;
	
	& .gallery {
		margin: var(--Large) auto;
		
		& figure {
			display: flex;
			max-height: 90px;

			& img {
				object-fit: contain;
				height: auto;
			}
		}
	}
}