/*-----------------------------------*\
	TESTIMONIALS
\*-----------------------------------*/
section.testimonials {
	& .testimonial-slider {
		position: relative;

		& .slick-arrow {
			position: absolute;
			top: 35%;
			left: -4%;
			transform: translateY(-50%) scale(-1);
			cursor: pointer;

			@media(--laptop) {
				left: -10%;
			}

			&:last-of-type {
				transform: translateY(-50%);
				left: inherit;
				right: -4%;

				@media(--laptop) {
					right: -10%;
				}
			}
		}

		& blockquote {
			margin: 0 auto;

			& p {
				font-size: 18px;

				@media(--tablet) {
					font-size: 22px;
				}
			}

			& cite {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: center;

				& img {
					width: 94px;
					height: 94px;
					border-radius: 50%;
					object-fit: cover;
					border: 4px solid var(--Yellow);
				}

				& > div {
					text-align: left;
					padding-left: 1em;

					& h5 {
						font-size: 22px;
						font-style: normal;
						margin: 0;
					}

					& p {
						font-size: 16px;
						font-style: normal;
						margin: 0;
						color: var(--Red);
					}
				}
			}
		}
	}
}