/*-----------------------------------*\
	FEATURED NEWS
\*-----------------------------------*/
section.featured-news {
	background-color: var(--LightGrey);
	padding: 2rem 0 2.5rem;

	& h2 {
		margin-top: 0;
	}

	& .news-grid {
		@media(--laptop) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}