/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.25s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	IMAGE STYLES
\*-----------------------------------*/
.gallery {

	& figure {
		min-height: 10px;
		margin: 0;

		& img {
			display: block;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;

	&.columns-5 {
		grid-template-columns: repeat(3, 1fr);
	}

	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}

		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}