/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: hsl(0, 0%, 100%);
	--LightGrey: hsl(0, 0%, 92%);
	--Grey: hsl(0, 0%, 27%);
	--Black: hsl(0, 0%, 0%);
	--Red: hsl(0, 81%, 42%);
	--DarkRed: hsl(0, 100%, 20%);
	--Orange: hsl(34, 100%, 57%);
	--DarkOrange: hsl(34, 90%, 41%);
	--Yellow: hsl(44, 100%, 50%);
	--Purple: hsl(287, 48%, 25%);
}