/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
.news-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(--laptop) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.photogallery-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 5rem;
	grid-row-gap: 3rem;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(--laptop) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.archive-result.event {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	margin-bottom: 2em;

	@media(--tablet) {
		margin: 0 auto;
		width: 90%;
		margin-bottom: 2em;
	}

	&:nth-child(odd) {
		&>div {
			padding-right: 0;
		}

		& .image-wrap {
			order: -1;
			padding-right: 0;

			@media(--tablet) {
				padding-right: 4em;
			}

			&:after {
				width: 100%;

				@media(--tablet) {
					width: calc(100% - 4em);
				}
			}
		}
	}

	&>div {
		width: 90%;

		@media(--tablet) {
			width: 50%;
			padding-right: 2em;
		}

		& h2 {
			margin-top: 0;
		}

		& .event-info {
			width: 100%;
			background-color: var(--LightGrey);
			padding: 1em;
			margin-bottom: 1.5em;

			& h3 {
				margin: 0;
			}

			& p {
				margin: .5rem 0 0;
				font-size: 18px;
			}
		}
	}

	& .image-wrap {
		width: 100%;
		position: relative;
		display: grid;
		margin-bottom: 2em;
		order: -1;

		@media(--tablet) {
			width: 50%;
			padding-right: 0;
			margin-bottom: 0;
			order: inherit;
		}

		&:after {
			content: '';
			position: absolute;
			top: 1.5em;
			left: 1.5em;
			width: 100%;
			height: 100%;
			border: 7px solid var(--Yellow);
			z-index: -1;
		}

		& img {
			margin-top: 0;
			width: 100%;
		}
	}
}

/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& a {
		margin: 0 var(--Small);
	}
}