/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
body.single-photogallery {
	& section.sponsors {
		margin: 5rem auto 8rem;
	}
}

body.single-post {
	& section.related-news {
		margin-bottom: 8rem;
	}
}