/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.single-event {
	& main > article {
		margin: 3rem auto 8rem;
	}
}