/*-----------------------------------*\
	NEWS CARDS
\*-----------------------------------*/
.archive-result.post {
	& > a {
		&:hover,
		&:focus {
			text-decoration: none;

			& figure {
				border: 5px solid var(--Purple);
			}

			& .button {
				color: var(--Yellow);
    		background-color: var(--Purple);
			}
		}
	}

	& figure {
		border: 5px solid var(--Yellow);
		width: 100%;
		height: 285px;
		margin: 0;
		display: flex;
		transition: all 0.25s linear;

		& img {
			width: 100%;
			object-fit: cover;
		}
	}

	& h3 {
		margin: 1rem 0;
		font-size: 22px;
	}

	& p {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin: 1rem 0;
	}
}
/*-----------------------------------*\
	EVENT CARDS
\*-----------------------------------*/
.archive-result.past-event,
.archive-result.photogallery {
	& > a {
		&:hover,
		&:focus {
			text-decoration: none;

			& .photo-stack {
				& img {
					&:nth-child(2) {
						top: -20px;
						left: -20px;
						transform: rotate(10deg);
					}

					&:nth-child(3) {
						top: 30px;
						left: 20px;
						transform: rotate(-5deg);
					}
				}

				& .button {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	& .photo-stack {
		position: relative;

		& img {
			width: 100%;
			height: 100%;
			max-height: 250px;
			object-fit: cover;
			transition: all 0.25s linear;

			&:nth-child(1) {
				position: relative;
				z-index: 3;
			}

			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: -10px;
				transform: rotate(4deg);
				z-index: 2;
			}

			&:nth-child(3) {
				position: absolute;
				top: 10px;
				left: 8px;
				transform: rotate(-3deg);
				z-index: 1;
			}
		}

		& .button {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 4;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
		}
	}

	& h3 {
		margin: 1rem 0;
		font-size: 22px;
	}
}

.archive-result.photogallery {
	& h3 {
		margin-top: 2rem;
	}
}