/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
body.home.popup-on {
	padding-bottom: 11em;
}

.featured-popup {
	width: 90%;
	max-width: 900px;
	background-color: var(--Purple);
	max-height: 0;
	overflow: hidden;
	position: fixed;
	bottom: 3em;
	left: 50%;
	z-index: 9999;
	transform: translateX(-50%);

	&.popup-on {
		max-height: 100vh;
	}

	&>div {
		margin: 0 auto;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: var(--Medium) 0;

		& > div {
			width: auto;

			& h3 {
				color: var(--White);
				margin: 0;
			}

			&.date {
				width: auto;
				padding: 0 1.5em;

				& p {
					font-size: 16px;
					text-align: center;
					display: block;

					& span {
						font-size: 62px;
						display: block;
						line-height: 1;
						font-family: 'Signika', sans-serif;
					}
				}
			}

			&.info {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				& > div {
					width: calc(100% - 2.5em);

					@media(--tablet) {
						width: calc(100% - 170px - 2.5em);
					}

					& > p {
						font-size: 16px;
						display: none;

						@media(--tablet) {
							display: block;
						}
					}
				}
			}
		}
	}

	& p {
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;
	}

	& a {
		width: auto;
		margin-right: 2em;
		min-width: 170px;
		background-color: transparent;
		color: var(--Yellow);
		padding: 0;
		text-decoration: underline;

		@media(--tablet) {
			background-color: var(--Yellow);
			color: var(--Purple);
			padding: var(--Medium) var(--Large);
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: var(--Red);
			}
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	& button {
		padding: 0;
		background-color: transparent;
		position: absolute;
		top: 8px;
		right: 8px;

		& svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: var(--White);
		}
	}
}