/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: var(--White);
	padding-top: 10px;
	box-shadow: inset 0 6px 0 0 var(--Red);

	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 90vw;
		max-width: 1200px;

		& a {
			display: grid;

			& img {
				max-width: 120px;

				@media(--laptop) {
					max-width: 160px;
				}
			}
		}

		& > div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			background-color: var(--Red);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 99999;
			opacity: 0;
			visibility: hidden;
			transition: all 0.25s linear;

			@media(--laptop) {
				justify-content: flex-end;
				background-color: transparent;
				position: inherit;
				opacity: 1;
				visibility: visible;
			}

			&.is-active {
				opacity: 1;
				visibility: visible;
			}

			& .social {
				width: 100%;
				text-align: center;
				margin-bottom: 0.5em;
				order: 2;

				@media(--laptop) {
					text-align: right;
					order: 0;
				}

				& a {
					display: inline-flex;
					margin-left: 1.5em;

					&:hover,
					&:focus {
						& svg {
							fill: var(--Yellow);

							@media(--laptop) {
								fill: var(--Red);
							}
						}
					}

					&:first-of-type {
						margin-left: 0;
					}

					& svg {
						width: 24px;
						height: 24px;
						fill: var(--White);
						transition: all 0.25s linear;

						@media(--laptop) {
							width: 20px;
							height: 20px;
							fill: var(--Purple);
						}
					}
				}
			}

			& ul {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				padding: 0;
				margin: 0;
				list-style: none;
				margin-bottom: 2em;

				@media(--laptop) {
					flex-direction: inherit;
					margin-bottom: 0;
				}

				& li {
					padding: .5rem 0;
					margin: 0;

					@media(--laptop) {
						padding: .5rem 1rem;
						margin: var(--Small) 0;
					}

					&.current-menu-item {
						& a {
							&:after {
								width: 115%;
							}
						}
					}

					&.button {
						padding: 0;
						margin-top: 1em;
						margin-left: 0;

						@media(--laptop) {
							margin-top: 0;
							margin-left: 1rem;
						}

						&:hover,
						&:focus {
							& a {
								color: var(--Yellow);
							}
						}

						& a {
							display: inline-block;
							padding: var(--Medium) var(--Large);
							margin: 0;
							font-size: 20px;
							cursor: pointer;
							color: var(--Purple);
							background-color: var(--Yellow);
							border: none;
							text-decoration: none;
							transition: all 0.25s linear;

							@media(--laptop) {
								font-size: 18px;
							}

							&:hover,
							&:focus {
								color: var(--Yellow);
								background-color: var(--Purple);
								text-decoration: none;

								&:after {
									width: 0;
								}
							}
						}
					}

					& a {
						font-size: 26px;
						position: relative;
						color: var(--White);

						@media(--laptop) {
							font-size: 18px;
							color: var(--Red);
						}

						&:hover,
						&:focus {
							text-decoration: none;

							&:after {
								width: 115%;
							}
						}

						&:after {
							content: '';
							background-color: var(--Yellow);
							width: 0;
							height: 5px;
							position: absolute;
							bottom: 0;
							left: -7.5%;
							transition: all 0.25s linear;
						}
					}
				}
			}
		}

		& button.activate-menu {
			background-color: transparent;
			color: var(--Red);
			font-family: 'Signika', sans-serif;
			padding-right: 0;

			&:hover,
			&:focus {
				background-color: transparent;
				color: var(--Red);
			}

			@media(--laptop) {
				display: none;
			}
		}

		& button.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			background-color: var(--Red);
			color: var(--White);
			font-family: 'Signika', sans-serif;
			padding-right: 0;

			@media(--laptop) {
				display: none;
			}

			&:hover,
			&:focus {
				background-color: var(--Red);
				color: var(--White);
			}
		}
	}
}